<%- include("../../partials/header.ejs"); %>

<div class="container">
    <div class="row">
        <% products.forEach(function(product){ %>
            <div class="col-md-4">
                <div class="card">
                    <img src="<%= product.imagePath %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= product.title %></h5>
                      <p class="card-text"><%= product.description %></p>
                      <p class="price float-left">$<%= product.price %></p>
                      <a href="/add-to-cart/<%= product._id %>" class="btn btn-success btn-sm float-right">Add to Shopping Cart</a>
                    </div>
                  </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include("../../partials/footer.ejs"); %>