<%- include("../../partials/header.ejs"); %>

<div class="container">
  <div class="row index-products-list">
    <% laptops.forEach(function(laptop){ %>
      <div class="col-md-6 col-lg-4 index-product">
        <div class="card">
          <a href="/laptop/<%= laptop._id %>">
            <div class="card-img-wrapper">
              <img src="<%= laptop.image %>" class="card-img-top">
            </div>
          </a>
          <div class="card-body">
            <a href="/laptop/<%= laptop._id %>">
              <h5 class="card-title"><%= laptop.brand + " " + laptop.name %></h5>
            </a>
            <ul class="card-text">
              <li>Display: <%= laptop.displaySize %> in</li>
              <li>CPU: <%= laptop.cpuBrand + " " + laptop.cpuModel %></li>
              <li>GPU: <%= laptop.gpuBrand + " " + laptop.gpuModel %></li>
              <li>RAM: <%= laptop.memorySize + "GB " + laptop.memoryType %></li>
            </ul>
            <h4 id="price" class="float-left">$<%= laptop.price %></h4>
            <a href="/add-to-cart/laptop/<%= laptop._id %>" class="btn btn-success btn-sm float-right">Add to Shopping Cart</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<%- include("../../partials/footer.ejs"); %>